<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahoutaikomaster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mahoutaikomaster.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mahoutaikomaster.ModeMenuActivity"
            android:label="@string/title_activity_mode_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.mahoutaikomaster.LevelSelectActivity"
            android:label="@string/title_activity_level_select"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.mahoutaikomaster.DrumGameActivity"
            android:label="@string/title_activity_drum_game"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>